@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope&family=Roboto:wght@400;500;700&display=swap");
:root {
  --darkColor: #111318;
  --fontColor: #eee;
}

body {
  background-color: var(--darkColor);
  color: var(--fontColor);
  font-family: "Roboto", sans-serif;
}

.header {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
}
